<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>File:</strong>
  <%= @post.file %>
</p>

<%= render partial: "comments/comments", locals: {commentable: @post} %>
<br>
<%= form_for @new_comment, url: category_post_comments_path(@category, @post) do |f| %>
  <%= f.text_area :author, placeholder: 'Add author' %>
  <%= f.text_area :content, placeholder: 'Add a comment' %>
  <%= f.submit %>
<% end %>


<%= link_to 'Edit', edit_category_post_path(@post.category_id, @post) %> |
<%= link_to 'Back', category_posts_path %>
